{% extends "base.html" %}

{% block content %}
  <h1>
    Dish type list
  </h1>
  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for dish_type in dish_type_list %}
        <tr>
          <td>
            {{ dish_type.id }}
          </td>
          <td>
            {{ dish_type.nam }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no dish type in the service.</p>
  {% endif %}
{% endblock %}
