{% extends "base-presentation.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Delete the dish type</h4>
          </div>
          <div class="card-body">
            <p class="mb-4">Are you sure you want to delete the dish type: <strong>{{ dishtype.name }}</strong>?</p>
            <p><i>All dishes with this dish type will be also deleted!</i></p>

            <!-- Delete Confirmation Form -->
            <form action="" method="post">
              {% csrf_token %}

              <div class="d-flex justify-content-between">
                <a href="{% url 'kitchen:dish-type-list' %}" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Yes, delete" class="btn btn-danger">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
