{% extends "base.html" %}

{% block content %}
  <h1>
    Dish type list
    <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for dish_type in dish_type_list %}
        <tr>
          <td>
            {{ dish_type.id }}
          </td>
          <td>
            {{ dish_type.name }}
          </td>
          <td>
            <a href="{% url 'kitchen:dish-type-update' dish_type.id %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'kitchen:dish-type-delete' dish_type.id %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no dish types in the service.</p>
  {% endif %}
{% endblock %}
