{% extends "base.html" %}

{% block content %}
  <h1>KITCHEN OPERATIONS</h1>
  <p>Welcome to manage easily all kitchen processes!</p>
  <h2>Dynamic content</h2>
  <p>The kitchen service has the following record counts:</p>
  <ul>
    <li><strong>Dish types:</strong> {{ num_dish_types }}</li>
    <li><strong>Dishes:</strong> {{ num_dishes }}</li>
    <li><strong>Cooks:</strong> {{ num_cooks }}</li>
  </ul>

  <p>You have visited this page
    {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}